<div class="row marketing justify-content-center">
  <div class="col-md-8 col-sm-6 col-xs-6">
    <h2 class="page-header">Add Skills</h2>

    <br>
    <form id="add_category" method="POST" action="/users/addThisCategory">
      <div class="form-group">
       
        <input type="text" name="skill_name" id="skill_name" class="form-control" placeholder="Skill Name" required autofocus/>
      </div>

      <button type="submit" class="btn btn-primary add-category-btn" onclick="if($('#skill_name')[0].validity.valid) {showSpinner(); return true;}">Submit</button>
      <button type="submit" class="btn btn-secondary" onclick="window.location.href='/users/categories'; return false;">Cancel</button>

    </form>

  </div>

</div>