<!-- Success/Failure Toast starts -->
<div class="row" style="margin-bottom: 10px;">
  <div class="alert alert-dismissible fade show myAlert col-8" role="alert" style="display: none;">
    <span></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!-- Success/Failure Toast ends -->

<!-- Change Password Card starts -->
<div class="card mx-auto text-center card-container signin" style="width: 25rem; opacity: 0.8; background: white;">
  <div class="card-body" style="box-shadow: 0px 5px 10px 0px #171313;">

    <form class="form-signin registered-user" id="changePasswordForm">
      <p style="font-style: italic; font-size: 20px;">Change <strong>Password!</strong></p>
      <br>

      {{#if renderOldPassword}}
        <input type="password" class="form-control changePasswordFieldStyle" style="margin-top: 0px;" name="oldPassword" id="oldPassword" placeholder="Old Password..." required onfocus="onfocusAction('oldPassword'); return false;">
        <span id="oldPassword_err" class="errMsgSpan float-left" style="display: none;">*Enter correct password</span>
      {{/if}}

      <input type="password" class="form-control changePasswordFieldStyle" style="" name="newPassword" id="newPassword" placeholder="New Password..." required onfocus="onfocusAction('newPassword'); return false;">
      <span id="newPassword_err" class="errMsgSpan float-left" style="display: none;">*Enter valid value</span>

      <input type="password" class="form-control changePasswordFieldStyle" style="" name="newPassword2" id="newPassword2" placeholder="Confirm New Password..." required onfocus="onfocusAction('newPassword2'); return false;">
      <span id="newPassword2_err" class="errMsgSpan float-left" style="display: none;">*Enter valid value</span>

      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" id="btn-changePassword" onclick="validatePasswordInputs(event);" style="margin-top: 40px;">Change My Password!</button>

      {{#if renderOldPassword}}
        <button type="submit" class="btn btn-outline-secondary btn-lg btn-block" onclick="window.location.href='/users'; showSpinner(); return false;" style="margin-top: 10px;">Cancel</button>
      {{/if}}
      <br>
    </form>

  </div>
</div>
<!-- Change Password Card Ends -->