<div class="row marketing justify-content-center" style="margin-top: -12px;">
  <div class="col-md-8 col-sm-6 col-xs-6">
    <h2 class="page-header">Edit Skill</h2>

    <br>
    <form id="edit_category" method="POST" action="/users/saveEditedCategory?id={{category.JWT_Id}}">
      <div class="form-group">
      
        <input type="text" name="skill_name" id="skill_name" class="form-control" placeholder="Skill Name" value="{{category.skill_name}}" autofocus required onfocus="$(this)[0].setSelectionRange($(this).val().length, $(this).val().length);"/>
      </div>

      <button type="submit" class="btn btn-primary" onclick="if($('#skill_name')[0].validity.valid) {showSpinner(); return true;} return false;">Save</button>
      <button type="submit" class="btn btn-secondary" onclick="window.location.href='/users/categories'; showSpinner(); return false;">Cancel</button>

    </form>

  </div>

</div>