/* Space out content a bit */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: url("../images/too-much-todo.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#spinner {
  position: relative;
  z-index: 9999;
  top: 50%;
  left: 50%;
}

.myKindaForm {
  overflow-y: scroll;
  max-height: 270px;
}

.myKindaForm > div {
  margin-right: 5px;
}

.myAlert {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
}

.errBox {
  box-shadow: 0px 0px 7px 0px #ef0f5569;
}

.errMsgSpan {
  font-size: 12px;
  margin-top: -7px;
  margin-left: 5px;
  margin-bottom: 6px;
  color: #f30862d7;
}

.roundBorder {
  border-radius: 50px !important;
}

.changePasswordFieldStyle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px !important;
  font-style: italic;
  margin-top: 15px;
}

.page-header {
  text-shadow: 2px -1px 0px white;
  color: #868e96 !important;
}

.nav-link:hover {
  color: white;
}

.footer {
  color: black !important;
  font-weight: bold;
}

/* making the user-profile dropdown hover visible*/

.dropdown-item:hover {
  color: white !important;
  background-color: #007bff !important;
}


/* media queries */
@media screen and (max-width: 990px) {
  .nav {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 769px) {
  .otherTM {
    display: block !important;
  }

  .nav {
    font-size: 14px !important;
    margin-top: 10px;
  }

  .header {
    margin-bottom: 20px;
  }

  .TM {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 550px !important;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
