<!DOCTYPE>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TM - TM - Task Assignment Module</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/jm.spinner.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- include Jquery -->
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <!-- include bootstrap css -->
    <link rel="stylesheet" href="../../css/bootstrap.css">

    <!-- include moment.js to work fine with dates -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

    <!-- include velocity.js for animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
  </head>

  <body>
    <div id="spinner"></div>

    <!-- Container Starts -->
    <div class="container">

      {{{body}}}

    </div>
    <!-- Container Ends -->

  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/loginUtil.js"></script>
  <script type="text/javascript" src="../../js/jm.spinner.js"></script>
</html>